<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registerservlet</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerservlet</servlet-name>
		<url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteStudent</servlet-name>
		<servlet-class>DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteStudent</servlet-name>
		<url-pattern>/deleteservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateStudent</servlet-name>
		<servlet-class>UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateStudent</servlet-name>
		<url-pattern>/updateservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updaterecord</servlet-name>
		<servlet-class>UpdateRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updaterecord</servlet-name>
		<url-pattern>/updaterecord</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>allrecord</servlet-name>
		<servlet-class>AllRecords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>allrecord</servlet-name>
		<url-pattern>/allrecord</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>guest</servlet-name>
		<servlet-class>GuestRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>guest</servlet-name>
		<url-pattern>/guestregistration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

</web-app>